/* .form {
  background-color: #27cdff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.form {
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: #27cdff; */
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-greeting {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .form-greeting h1 {
  /* align-self: center; */
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}
